.sideMenuContainer {
  position: fixed;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;
  /* background: rgba(30, 41, 59, 0.7);
  border: 1px solid rgba(148, 163, 184, 0.15);
  border-radius: 9999px; 
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  backdrop-filter: blur(15px); */
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: #cbd5e1;
  border: 1px solid rgba(148, 163, 184, 0.2);
  border-radius: 50%; /* Kluczowa zmiana - tworzy okrąg */
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}

.navButton:hover {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.1);
}

.navButton.active {
  color: #3bc3e2; /* Morski/jasnoniebieski kolor ikony */
  /* border-color: #3bc3e2; */
  /* background-color: rgba(59, 195, 226, 0.15); */
  box-shadow: 0 0 12px rgba(59, 195, 226, 0.5);
}
